* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: DarkSalmon;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#home img{
    width: 100%;
}

.active, .dot:hover {
  background-color: DarkSalmon;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Responsive*/
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

table, th, td {
    margin-left: 15%;
    border-collapse: collapse;
    border: 10px solid black;
    border-color: darksalmon;
  }

  /* About*/
#about {
    padding-top: 50px;
    height: 100vh;
}
#about img{
    float: left;
    text-align: center;
    display: block;
    height: 350px;
    width: 372px;
    padding-right: 15px;
}
#about .clearfix {
    overflow: auto;
  }

  h1 {
    text-align: center;
}

#experience{
  padding-top: 50px;
  height: 100vh;
}